.dark-medium-contrast {
  --md-sys-color-primary: rgb(180 234 177);
  --md-sys-color-surface-tint: rgb(158 212 156);
  --md-sys-color-on-primary: rgb(0 45 10);
  --md-sys-color-primary-container: rgb(106 157 106);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(206 226 202);
  --md-sys-color-on-secondary: rgb(26 41 26);
  --md-sys-color-secondary-container: rgb(131 150 128);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(182 228 235);
  --md-sys-color-on-tertiary: rgb(0 42 47);
  --md-sys-color-tertiary-container: rgb(108 152 159);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 16);
  --md-sys-color-on-background: rgb(224 228 219);
  --md-sys-color-surface: rgb(16 20 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 73 64);
  --md-sys-color-on-surface-variant: rgb(216 222 211);
  --md-sys-color-outline: rgb(173 180 169);
  --md-sys-color-outline-variant: rgb(139 146 136);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 219);
  --md-sys-color-inverse-on-surface: rgb(39 43 38);
  --md-sys-color-inverse-primary: rgb(34 82 39);
  --md-sys-color-primary-fixed: rgb(186 240 183);
  --md-sys-color-on-primary-fixed: rgb(0 22 3);
  --md-sys-color-primary-fixed-dim: rgb(158 212 156);
  --md-sys-color-on-primary-fixed-variant: rgb(13 63 23);
  --md-sys-color-secondary-fixed: rgb(213 232 208);
  --md-sys-color-on-secondary-fixed: rgb(6 20 7);
  --md-sys-color-secondary-fixed-dim: rgb(185 204 180);
  --md-sys-color-on-secondary-fixed-variant: rgb(42 58 41);
  --md-sys-color-tertiary-fixed: rgb(188 235 242);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 23);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 213);
  --md-sys-color-on-tertiary-fixed-variant: rgb(8 60 66);
  --md-sys-color-surface-dim: rgb(16 20 16);
  --md-sys-color-surface-bright: rgb(65 70 63);
  --md-sys-color-surface-container-lowest: rgb(5 8 5);
  --md-sys-color-surface-container-low: rgb(26 31 25);
  --md-sys-color-surface-container: rgb(37 41 35);
  --md-sys-color-surface-container-high: rgb(47 52 46);
  --md-sys-color-surface-container-highest: rgb(58 63 57);
}
