.sky-product-card-wc {
  position: relative;
  width: 100%;
}

.sky-product-card-wc > sky-product-card {
  display: block;
  width: 100%;
}

.sky-product-card-wc > .product-card-gallery {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  aspect-ratio: 3 / 2;
  pointer-events: auto;
}